body {
    background: #B9B7BD;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


#project-cont {
    text-align: center;
}

#project-cont p {
    color: cadetblue;
    
}

nav a{
    padding: 10px;
}

#pic-me {
    width: 40%;
}